$color-primary: #ff6600;
$color-primary-dark: #e65500;
$color-primary-light: #ff9e1b;

$color-secondary-bg: #f0f0f0;
$color-secondary-text: #333;
$color-secondary-border: #ddd;

$color-danger-bg: #d32f2f;
$color-danger-dark: #b71c1c;

$color-white: #fff;
$color-transparent: transparent;
$color-gray: #696969;
$color-destructure: #ed0101;
$color-blue: #1901ed;
$color-gray-light: #f2f2f2;
$color-text: #333;

$box-shadow-color: rgba(255, 102, 0, 0.3);
$box-shadow-hover-color: rgba(230, 85, 0, 0.8);

$border-radius: 12px;
